body{
  background-color: rgb(176, 162, 255)
}
.description{
    font-weight: bold;
    color: blanchedalmond;
    
}
.title{
    font-style: italic;
    font-family: sans-serif;
}
.intro{
    color: chocolate;
    font-family: cursive
} 
